{{- $full_name := promptString "Full Name" -}}
{{- $initials := promptString "Initials" -}}
{{- $username := promptString "username" -}}
{{- $email := promptString "email" -}}
{{- $gh_noti_mail := promptString "GitHub notification email" -}}
{{- $gl_noti_mail := promptString "GitLab notification email" -}}
{{- $hostname := promptString "hostname" -}}
{{- $purpose := promptString "purpose (e.g. 'work')" -}}

[data]
    full_name = {{ $full_name | quote }}
    initials = {{ $initials | quote }}
    username = {{ $username | quote }}
    email = {{ $email | quote }}
    gh_noti_mail = {{ $gh_noti_mail  | quote }}
    gl_noti_mail = {{ $gl_noti_mail  | quote }}
    hostname = {{ $hostname | quote }}
    purpose = {{ $purpose | quote }}
