#!/usr/bin/env bash
# shellcheck disable=SC1054,SC1056,SC1058,SC1072,SC1073,SC1083

{{ if eq .chezmoi.os "darwin" -}}
{{- if (or (eq .purpose "work") (eq .purpose "private")) }}

#cleanup_path=$(espanso path packages)
#cleanup_file=_pkgsource.yml
# Possibly needed to avoid espanso restart errors about 'hub' as unknown package source

espanso package update all

for PKG in \
    "greetings-english" \
    "greetings-german" \
    "linter-control-comments" \
    "mac-symbols" \
    "shruggie"
do
    espanso install --force $PKG
    #find "$(cleanup_path)" -delete \
    #    -type f -name "$cleanup_file" 
done

for PKG in \
    "github.com/katrinleinweber/espanso-effective-markdown"
    # TODO: Migrate this to the format of espanso-external-repo-template
do
    NAME=$(echo $PKG | sd '^.+/espanso-' '')
    espanso install $NAME --external --force \
        --git https://$PKG
done

{{- if eq .purpose "work" }}
espanso install gitlab-support --external --force \
    --git https://gitlab.com/gitlab-com/support/toolbox/espanso
{{- end }}

espanso restart

{{ end -}}
{{ end -}}
